section {
  border: 10px solid #FFA500;
  border-style: dotted;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cashOrCardDiv {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#cashOrCard {
      display: flex;
      justify-content: space-around;
}
  
  
#ifCash {
    border: 1px solid black;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}
 
#ifCard {
      border: 1px solid black;
      width: 80%;
      padding: 5px;
      margin-top: 10px;
}
  
button {

      padding: 10px;
      border-radius: 10px;
      background-color: #FFA500;
      width: 50%;
}
  
#rec {
    color: black;
    padding: 10%;
    border: 5px solid #FFA500;
    margin: 10px;
    display: block;
}
  

