#cashOrCardDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
  }
    #cashOrCard {
      margin-top: 10px;
      display: flex;
      width: 80%;
      border: 1px solid black;
      justify-content: space-around;
      padding: 5px;
  }
  
  
  #ifCash {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 10px;
      border: 1px solid black;
      width: 80%;
      padding: 5px;
  }
  #amtInp {
      top: 15px;
  }
  #amtInp input {
      width: 45px;
  }
  .cashBoxes {
     margin: 1px;
  }
  #change {
      width: 40%;
  }
  #ifCard {
      border: 1px solid black;
      width: 80%;
      padding: 5px;
      margin-top: 10px;
  }
  .cardInfo {
      margin: 5px;
      display: flex;
  
  }
  #cardAmt {
      width: 50%;
     
  }
  #cardNum {
      width: 55%;
  }
  #cvv {
      width: 50%;
      height: 70%;
  }
  #cvvExp {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  }
  #cvvDiv {
      margin: 0;
      width: 35%;
      display: flex;
      flex-direction: row;
  }
  #expDiv {
        display: flex;
      flex-direction: row;
  }
  
  #rec {
    display: block;
  }
  
  #subBut {
    position: relative;
    right: 10%;
  }
  
  #rec {
    color: black;
    padding: 10%;
    border: 5px solid #FFA500;
    margin: 10px;
  }
  
  #homeBut {
    color: black;
    border-radius: 5px;
    background-color: gold;
  }
  #cartBut {
    color: black;
    border-radius: 5px;
    background-color: gold;
  }