* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(241, 236, 236);
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
ul {
    list-style: none;
}
li {
    padding: 3px;
}

a {
    text-decoration: none;
}
a:link {
    color:black;
}
a:visited {
    color: black;
}
a:hover {
    color:black;
}
a:active {
    color:black;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
}
.individual-shop-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid orange;
    background-color: white;
    height: 200px;
    width: 150px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}
.shop-item-details {
    display: flex;
    flex-direction: column;
}
button {
    background-color: orange;
    border-radius: 4px;
    border: 2px solid orange;
    color: white;
    padding: 5px 15px;
    
}
.individual-shop-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
img {
    height: 100px;
    width: 100px;
}
button.checkout-button {
    color: white;
}
a.checkout-button {
    color: white;
}


@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
ul {
    list-style: none;
    display: flex;
    flex-direction: row;

}

}