* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(241, 236, 236);
    margin: 10px;
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    color: rgb(238, 102, 43);
    font-size: 15;
    font-family:Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
nav {
    padding: 3px;
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
    font-size: 15px;
    padding: .4em;
    text-align: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
}
a:link {
    color:black;
}
a:visited {
    color: black;
}
a:hover {
    color:#bcbb9e
    ;
}
a:active {
    color:black;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
}

.section-header {
    border: none;
    font-size: large;
    color:white;
    background-color: orange;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    margin: 10px;
    width: 100%
}
#all-shop-items {
    width: 75%;
}
#shop-name {
    font-family: 'Dancing Script', cursive;
}
#logo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
img #logo-image {
    height: 75px;
    width: 75px;
}

.individual-shop-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid orange;
    background-color: white;
    height: 200px;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition-duration: 0.4s;
}
.shop-item-details {
    display: flex;
    flex-direction: column;
}
button {
    background-color: orange;
    border-radius: 4px;
    border: 2px solid orange;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    
}
.individual-shop-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.2)
}

.shop-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    height: 100px;
    width: 125px;
}
img.logo-image {
    height: 75px;
    width: 75px;
}
button.open-checkout {
    color: white;
    padding: 5px 20px;
    margin-top: 10px;
}
a.checkout-button {
    color: white;
}
#cart-section {
    background-color: white;
    border: black solid 1px;
    margin: 10px;
    padding: 10px;
    width: auto;
    display: block;
}

.cart-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid orange;
    background-color: white;
    height: 200px;
    width: 150px;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}
.cart-section-header {
    margin: 10px;
}
.shop-item-description {
    font-size: small;
    color: rgb(87, 85, 85);
}
.popup-section-header {
    margin: 10px;
    display: flex;
    justify-content: center;
}


/*Bakerycheckout css copied under here */

form {
    border: 2px solid #FFA500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  
  #cashOrCardDiv {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    width:200px
  }
  
  #cashOrCard {
        display: flex;
        justify-content: space-around;
  }
    
    
  #ifCash {
      border: 1px solid black;
      width: 100%;
      padding: 5px;
      margin-top: 10px;
  }
   
  #ifCard {
        border: 1px solid black;
        width: 100%;
        padding: 5px;
        margin-top: 10px;
  }
    
  button.btn-purchase {
  
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-color: #FFA500;
        width: 100%;
  }
    
  #rec {
      color: black;
      padding: 30px;
      border: 5px solid #FFA500;
      margin: 10px;
      display: block;
      background-color: white;
      height: 50vh;
  }
  .checkout-popup {
    display: none;
    position: fixed;
    top: 108px;
    height: 350px;
    width: 350px;
    
  }
  #purchased-items-container{
    border: black solid 1px;
    padding: 10px;
  }
  .purchased-items{
    list-style-type: none;
    padding-bottom: 5px;
    
  }


@media only screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        font-size: 25px;
    }
    main {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
ul {
    list-style: none;
    display: flex;
    flex-direction: row;


}

a {
    font-size: 20px;
}
main {
    width: 100vw;
}

.section-header{
    width: auto;
}

#all-shop-items {
    width: 66%;
}
#cart-section {
    width: 33%;
    margin: 15px;
    padding: 15px;
}
.shop-items{
    display: flex;
    flex-shrink: inherit;
    /* flex-direction: row; */
}

.checkout-popup{
    right: 30px;
}
}
